name: tests-payments

on:
  pull_request:
    paths:
      - "orders/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: cd payments && npm install
      - name: Run tests
        run: cd payments && npm run test:ci
