name: tests-tickets

on:
  pull_request:
    paths:
      - "orders/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: cd tickets && npm install
      - name: Run tests
        run: cd tickets && npm run test:ci
