name: tests

on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
      - run: cd auth && npm install
      - name: Run tests
      - run: cd auth && npm run test:ci -- --config jest.config.cjs
        
